
<div class="row">
  <div class="col-xs-12">
    <section>Hi, This is Amitabha Das. I am now learning UI. This is interesting. This is gonna be my first assessment.</section>
  </div>
  <nav class="nav nav-tabs col-xs-2">
    <a routerLink="/profile">Profile Highlights</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/experience">Experience</a>
    <a routerLink="/biography">Personal Biography</a>
    <a routerLink="/contact">Contact Me</a>
  </nav>
  <router-outlet></router-outlet>
</div>
